* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: green;
}

#nav-bar {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%
}

#nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#sax li {
  padding: 15px;
}

#sax {
  list-style-type: circle;
  background-color: white;
}

h1 {
  background-color: blanchedalmond;
  margin-top: 60px;
}

h2 {
  font-size: 22px;
  margin: 20px;
}

h3 {
  margin-top: 100px;
}

#video {
  margin: 20px;
  display: block;
  margin: auto;
  width: 100%;
}

section {
  display: block;
  margin: auto;
  width: 50%;
}

form {
  margin: 20px;
}

#header-img {
  width: 800px;
  float: right;
}

@media (max-width: 1200px) {
  #header-img {
    float: none;
    display: block;
    margin: auto;
    width: 80%;
  }
}

a {
color: white;
text-decoration: none;
}


